.thumbButton {
	position: relative;
	min-width: 75px;
	max-width:200px;
	width : 50%;
	height: auto;

	overflow: hidden;

	margin: .5%;

	border-radius: 50% 50% 50% 50%;
	border-style: solid;
	border-left: 10px;
	border-top: 10px;
	border-color: #cdcbbc;

}

.thumbButton:hover {
	transform: scale(1.05);
}

.thumbButton:active {
	transform: scale(.95);
}

.buttonImage  {
	position: static;
	width: 99%;
	height: 99%;
}

.buttonCover {
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;

	width: 101%;
	height: 100%;
}