

body {
  max-width: 8in;
  margin-left: auto;
  margin-right: auto;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bannerBig {

}

.tile {
  width: 1fr;
}
.tile:not(:last-of-type) {
  margin-right: .5rem;
}

.tileImg {
  width: 100%;
  height: auto;
}

#logo {}

#heroBanner {
  height: 30vh;
  width: 100%;
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bannerHeader {

}

#bannerText {
  text-transform: capitalize;
}

#pages {
  margin-top: .5rem;
  margin-bottom: .5rem;
  display: flex;
  flex-direction: row;
}

#resume-tile {

}

#portfolio-tile {}

#contact-tile {}

#contactMe {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  max-width: 99vw;
}

#contact-form {
  display: grid;
  grid-template-columns: max-content max-content;
}

.required{
  color : var(--text-important);
}
.required::before {
  content: "*";
}

#contact-paragraph,
#contact-required {
  grid-column: span 2;
}

#contact-form label {
	text-align: right;
	align-self: center;
  margin-right: .5rem;
}
#contact-form input {
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
    width: 100%;

}
#contact-form #contact-label-message {
	align-self: baseline;
}

#contact-message {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  width: 100%;
  grid-row: span 2;
}

#contact-submit {
  height: 1.5rem;
  align-self: flex-end;
}
