

body {
  max-width: 8in;
}

.bannerBig {

}

.tile {
  width: 1fr;
  margin: .25rem .5rem .25rem .5rem;

}

.tileImg {
  width: 100%;
  height: auto;
}

#logo {}

#heroBanner {
  height: 45vh;
  background-color: gainsboro;
}

#bannerHeader {}

#bannerText {
  text-transform: capitalize;
}

#pages {
  display: flex;
  flex-direction: row;
}

#resume-tile {

}

#portfolio-tile {}

#contact-tile {}

#contactMe {}
