
/* Color definitions */
html {
	--background-color       : white;
	--background-color-tile  : white;
	--text-primary           : black;
	--text-alt               : darkgrey;
	--text-link              : blue;
	--text-important         : red;
}

a {
	color: var(--text-link);
}

html {
	width: 100%;
	height: 100%;
}

body {
	display : flex;
	flex-direction: column;
	align-items: center;
	width: 99%;
	color: var(--text-primary);
}

/* The navbar */
nav {
  font-size:    1.5rem;
  margin-bottom: .3rem;
}

nav a {
  color: var(--text-alt);
}


/* Background pattern */
/* Background from SVGBackgrounds.com */
body {
	background-color: var(--background-color);
}


/* improved background image for .col */

.tileBGTexture{
	background-color: var(--background-color-tile);
}

#finePrint {
	margin-top: 10px;
	font-size: smaller;
}
