---
layout: layouts/base
you_are_here: "resume"
---
<link rel="stylesheet" href="/css/resume.css">
<main>
    <div class="resume__options"></div>
    <div class="resume__note">
        <b>Note:</b> This web-facing version of my resume omits my address, and the
        contact details for my references for privacy reasons. Please 
        <a href="mailto:job@wesleywilliams.dev">contact me</a> 
        if you would like the full version.<br>
        If this version is sufficient, you may <a href="/files/resume.pdf" download="WesleyWilliams_web-safe">download a PDF</a>.
    </div>
    <section class="resume">
        <div class="resume__header">
            <div class="resume__name">Wesley Williams</div>
            <div class="resume__title">Software Developer</div>
        </div>
        <div class="resume__contact_info">
            <div class="resume__contact_info__phone">
                <a href="tel:+19033545937">(903) 354-5937</a>
            </div>
            <div class="resume__contact_info__email">
                <a href="mailto:jobs@wesleywilliams.dev">Jobs@WesleyWilliams.dev</a>
            </div>
        </div>
        <div class="resume__section">{%- comment -%}Summary{%- endcomment -%}
            <div class="resume__section__title">Summary</div>
            <div class="resume__section__blurb">
                Full Stack Developer turning my company&apos;s ideas into functional code so they can 
                build great webpages and apps. Currently focused on the MERN stack, and eager to
                strengthen those skills, or move into other web technologies.
            </div>
        </div>
        <div class="resume__section">{%- comment -%}Skills{%- endcomment -%}
            <div class="resume__section__title">Skills</div>
            <ul class="resume__section__skills_list">
                <li>HTML</li>
                <li>CSS</li>
                <li>Programming</li>
                <li>GIT Workflow</li>
                <li>MongoDB</li>
                <li>Test Driven Development</li>
                <li>JavaScript</li>
                <li>Node.js</li>
                <li>Written Communications</li>
                <li>Express.js</li>
                <li>React.js</li>
                <li>Verbal  Communications</li>
                <li>RESTful API</li>
                <li>JSON</li>
                <li>"Creative" Problem Solving</li>
                <li>MySQL</li>
            </ul>
        </div>
        <div class="resume__section">{%- comment -%}Experience{%- endcomment -%}
            <div class="resume__section__title">Experience</div>
            <div class="resume__section__blurb">
                <div class="resume__experience">
                    <div class="resume__experience__title">Freelance Project: Airhorn for AirOS 7 </div>
                    <div class="resume__experience__blurb">
                        Injects a new tool into AirOS 7’s web-app, to aid aligning antenna; 
                        reducing tower-climber fatigue; improving safety and efficiency. 
                    </div>
                </div>
                <div class="resume__experience">
                    <div class="resume__experience__title">URL Shortening Service </div>
                    <div class="resume__experience__blurb">
                        Turns long URLs into short, easy to remember URLs. Built a backend 
                        running in Node.js and stores . Frontend is built with vanilla.js. 
                    </div>
                </div>
                <div class="resume__experience">
                    <div class="resume__experience__title">QR Code Maker </div>
                    <div class="resume__experience__blurb">
                         Builds QR codes with customizable color-schemes and module shapes. Built with D3.js and JQuery.
                         The app is served as a static site, reducing server costs and eliminating  &apos;server lag&apos;
                         when generating or modifyingthe qr code. 
                    </div>
                </div>
                <div class="resume__experience">
                    <div class="resume__experience__title">Personal Card Catalog </div>
                    <div class="resume__experience__blurb">
                        Keeps track of my otherwise horribly disorganized collection of books.
                        React.js frontend allows searching, updating and adding entries. Node.js
                        backend presents a REST API and keeps everything in a mySQL database. 
                    </div>
                </div>
                <div class="resume__experience hide">
                    <div class="resume__experience__title">Anonymous Message Board </div>
                    <div class="resume__experience__blurb">
                        Build a REST API to specifications written by someone else for an anonymous
                        message board service. Rebuilt the frontend to be an actual message board rather 
                        than an API testing tool. 
                    </div>
                </div>
            </div>
        </div>
        <div class="resume__section">{%- comment -%}References{%- endcomment -%}
            <div class="resume__section__title">References</div>
            <div class="resume__section__blurb">
                For their privacy, reference contact information is omited from the 
                web-facing version of this document. Full version available upon request.
                <div class="resume__reference">
                    <b>Texas InfoMedia</b> : Built their website.
                    Built "Airhorn for Air OS 7" for them.
                </div>
            </div>
        </div>
        <div class="resume__section">{%- comment -%}Links{%- endcomment -%}
            <div class="resume__section__title">Links</div>
            <ul class="resume__section__links_list">
                <li class="hanger">
                    <span class="hanger__label">Portfolio: </span> <a class="hanger__content" href="https://www.WesleyWilliams.dev/portfolio.html">https://www.WesleyWilliams.dev/portfolio.html</a>  
                </li>
                <li class="hanger">
                    <span class="hanger__label">Github: </span> <a class="hanger__content" href="https://GitHub.com/moto42">https://GitHub.com/moto42</a> 
                </li>
                <li class="hanger">
                    <span class="hanger__label">LinkedIn: </span> <a class="hanger__content" href="https://www.linkedin.com/in/wesley-williams-01a288a2">https://www.linkedin.com/in/wesley-williams-01a288a2</a>
                </li>
            </ul>
        </div>
    </section>
</main>