.resume__header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.resume__name {
    font-size: 2rem;
    font-weight: bold;
}
.resume__title {
    margin-left: 1ch;
    font-weight: bold;

}
.resume__contact_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.resume__section__title{
    border-bottom-style: solid;
    border-color: blue;
}
.resume__section__blurb{
    margin-left: 10%;
}
.resume__section__skills_list {
    display: grid;
    grid-template-columns: repeat(3, auto);
}
.resume__section__links_list {
    list-style-type: none;
    padding: 0;
}
.resume__section__links_list a {
    word-break: break-all;
}
.hanger {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-areas: "label content";
}
.hanger__label {
    grid-area: label;

}
.hanger__content {
    grid-area: content;
    margin-left: .5ch;
}