
body, html {
	height: 100%;
}



.bg{
	background-image: url("images/theCity.jpg");

	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*background-color: #424f95 */
}
#joinbg{
	background-image: url("images/dontpanic.jpg");
}
#jointext{
	color: white;
}
#remember {
	color: midnightblue;
	display: flex;
	justify-content: flex-end;
}
#joinUs{
	color: midnightblue;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}