
h3 {
  margin-top: .1rem;
  margin-bottom: .5rem;
}

.blankList {
  list-style: none;
  text-indent: -1.5rem;
}

#resume {
  max-width: 9in;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    " headline     headline          contact         "
    " skillsCerts  summaryProjects   summaryProjects "
    " profiles     profiles          profiles        "
}

#headline{
  grid-area: headline;
}

#contactInfo{
  grid-area: contact;
}

#skillsCerts {
  grid-area: skillsCerts;
}

#technicalSkills{

}

#certsList > li:before{
  content : "▻ "
}

#certifications{

}

#summaryProjects {
  grid-area: summaryProjects;
}

#summary {
}

#summary > p {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

#projects{

}

.project{}

.project:not(:last-child) {
  margin-bottom: 1rem;
}

.projectTitle {}

.projectURL {}

.projectDescription {}

.projectSkills {}

#profiles{
  grid-area: profiles;
}
