main {
  width: 99%;
}

.project_links,
.skillList {
  margin-top: .5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project_image {
  border-style: solid;
  margin: .25rem;
}

.project_tile {
  border-style: solid;
  margin-top: .5rem;
}

.project_code,
.project_github,
.skill {
  margin-left: .5rem;
  margin-right: .5rem;
}

i img {
  height: 1rem;
}

.skill_name {
  vertical-align: top;
}
