
.project_links,
.skillList {
  margin-top: .5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project_code,
.project_github,
.skill {
  margin-left: .5rem;
  margin-right: .5rem;
}

i img {
  height: 1.5rem;
}

.skill_name {
  vertical-align: top;
}
