<nav>
    <a href="/" class="nav__link {% if you_are_here == 'index' -%}nav__link--active{%- endif -%}">
        Home
    </a>
    <a href="/resume.html" class="nav__link {% if you_are_here == 'resume' -%}nav__link--active{%- endif -%}">
        Resume
    </a>
    <a href="/portfolio.html" class="nav__link {% if you_are_here == 'resume' -%}nav__link--active{%- endif -%}">
        Portfolio
    </a>
</nav>