.videoButton {
	position: relative;
	overflow: hidden;
	
	width : 12%;
	height: auto;
	min-width: 100px;
	max-width:200px;

	margin: .5%;

	border-radius: 50% 50% 50% 50%;
	border-style: solid;
	border-left: 10px;
	border-top: 10px;
	border-color: #cdcbbc;

	box-shadow: 4px 5px 4px 0px dimgrey;
}

.videoButton:hover {
	transform: scale(1.05);
}

.videoButton:active {
	transform: scale(.95);
}

.buttonImage  {
	position: static;
	width: 99%;
	height: 99%;
}

.buttonCover {
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;

	width: 101%;
	height: 100%;
}